{% extends "base.html" %}

{% block content %} 
    <h2>Agregar Libro</h2>
    <form id="agregar-libro-form" method="POST" action="{{ url_for('libros.agregar_libro') }}">
        {{ form.hidden_tag() }}

        <!-- Campo ISBN -->
        <div class="form-group input-container">
            {{ form.isbn.label(class="form-label") }}
            {{ form.isbn(class="form-control", placeholder="Ingresa el ISBN del libro") }}
            {% if form.isbn.errors %}
                <small class="text-danger">
                    {{ form.isbn.errors[0] }}
                </small>
            {% endif %}
        </div>

        <!-- Campo Título -->
        <div class="form-group input-container">
            {{ form.titulo.label(class="form-label") }}
            {{ form.titulo(class="form-control", placeholder="Ingresa el título del libro") }}
            {% if form.titulo.errors %}
                <small class="text-danger">
                    {{ form.titulo.errors[0] }}
                </small>
            {% endif %}
        </div>

        <!-- Campo Autor -->
        <div class="form-group input-container">
            {{ form.autor.label(class="form-label") }}
            {{ form.autor(class="form-control", placeholder="Ingresa el autor del libro") }}
            {% if form.autor.errors %}
                <small class="text-danger">
                    {{ form.autor.errors[0] }}
                </small>
            {% endif %}
        </div>
        <!--campo de cantidad-->
        <div class="form-group input-container">
            {{ form.cantidad.label(class="form-label") }}
            {{ form.cantidad(class="form-control", placeholder="Ingresa la cantidad") }}
            {% if form.cantidad.errors %}
                <small class="text-danger">
                    {{ form.cantidad.errors[0] }}
                </small>
            {% endif %}

        <!-- Botones -->
         <div class="container py-3">
            <button type="submit" class="btn btn-primary">Agregar Libro <i class="bi bi-patch-plus"></i></button>
            <a href="{{ url_for('generales.index') }}" class="btn btn-secondary">Cancelar <i class="bi bi-x-octagon"></i></a>
        </div>
    </form>
{% endblock %}