{% extends "base.html" %}
{% block content %}
    <h1>Crear Usuario</h1>
    <form method="POST" action="{{ url_for('usuarios.crear_usuario') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nombre.label }}
            {{ form.nombre(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.contrasena.label }}
            {{ form.contrasena(class="form-control") }}
        </div>
        <div>
            {{ form.confirmar_contrasena.label }}
            {{ form.confirmar_contrasena(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.rol.label }}
            {{ form.rol(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}