{% extends "base.html" %}

{% block content %}
    <h2>Editar Libro</h2>
    <form method="POST">
        <!-- Campo Título -->
        <div class="form-group input-container">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" class="form-control" value="{{ libro.titulo }}" required>
        </div>

        <!-- Campo Autor -->
        <div class="form-group input-container">
            <label for="autor">Autor:</label>
            <input type="text" id="autor" name="autor" class="form-control" value="{{ libro.autor }}" required>
        </div>

        <!-- Campo ISBN -->
        <div class="form-group input-container">
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" name="isbn" class="form-control" value="{{ libro.isbn }}" required>
        </div>

        <!-- Botones -->
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}