{% extends "base.html" %}

{% block content %}
    <h2>Eliminar Libro</h2>
    <p>¿Estás seguro de que deseas eliminar el siguiente libro?</p>
    <ul>
        <li><strong>Título:</strong> {{ libro.titulo }}</li>
        <li><strong>Autor:</strong> {{ libro.autor }}</li>
        <li><strong>ISBN:</strong> {{ libro.isbn }}</li>
    </ul>
    <form method="POST">
        <!-- Botón de confirmación -->
        <button type="submit" class="btn btn-danger btn-eliminar" data-titulo="{{ libro.titulo }}">Confirmar Eliminación <i class="bi bi-trash3"></i></button>
        <!-- Botón de cancelación -->
        <a href="{{ url_for('generales.index') }}" class="btn btn-secondary">Cancelar <i class="bi bi-x-square"></i></a>
    </form>
{% endblock %}