{% extends "base.html" %}

{% block content %}
    <h2>Eliminar Libros</h2>
    <ul>
        {% for libro in libros %}
            <li>
                {{ libro.titulo }} - {{ libro.autor }}
                <form method="POST" action="{{ url_for('eliminar_libro', libro_id=libro.id) }}" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Volver al Inicio</a>
{% endblock %}