{% extends "base.html" %}

{% block content %}
<h2>Gestión de Usuarios</h2>

<form method="get" action="{{ url_for('usuarios.gestion_usuarios') }}" class="mb-3">
    <div class="input-group">
        <input type="text" name="termino" class="form-control" placeholder="Buscar usuarios por nombre o correo" value="{{ termino }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <form method="POST" action="{{ url_for('usuarios.cambiar_rol', usuario_id=usuario.id) }}">
                    <select name="rol" class="form-control form-control-sm">
                        <option value="usuario" {% if usuario.rol == 'usuario' %}selected{% endif %}>Usuario</option>
                        <option value="bibliotecario" {% if usuario.rol == 'bibliotecario' %}selected{% endif %}>Bibliotecario</option>
                        <option value="admin" {% if usuario.rol == 'admin' %}selected{% endif %}>Administrador</option>
                    </select>
                    <button type="submit" class="btn btn-sm btn-primary mt-2">Actualizar <i class="bi bi-person-fill-check"></i></button>
                </form>
            </td>
            <td>
                <!-- Otras acciones, si las hay -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}