{% extends "base.html" %}

{% block content %}
<h2>Gestión de Usuarios</h2>
<nav class="navbar bg-body-tertiary">
<div class="container-fluid">
        <form method="get" action="{{ url_for('usuarios.gestion_usuarios') }}" class="mb-3 d-flex ">
            <div class="input-group">
                <input type="text" name="termino" class="form-control" placeholder="Buscar usuarios por nombre o correo" value="{{ termino }}">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>            
        </form>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ url_for('usuarios.crear_usuario') }}" class="btn btn-outline-warning">Crear Usuario</a>
        </div>
    </div>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <form method="POST" action="{{ url_for('usuarios.cambiar_rol', usuario_id=usuario.id) }}">
                    <select name="rol" class="form-control form-control-sm">
                        <option value="usuario" {% if usuario.rol == 'usuario' %}selected{% endif %}>Usuario</option>
                        <option value="bibliotecario" {% if usuario.rol == 'bibliotecario' %}selected{% endif %}>Bibliotecario</option>
                        <option value="admin" {% if usuario.rol == 'admin' %}selected{% endif %}>Administrador</option>
                    </select>
                    <button type="submit" class="btn btn-sm btn-primary mt-2">Actualizar <i class="bi bi-person-fill-check"></i></button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('usuarios.eliminar_usuario', usuario_id=usuario.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar <i class="bi bi-trash3"></i></button>
                </form>
                <!-- Otras acciones, si las hay -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}