{% extends "base.html" %}

{% block content %}
    <h2>Gestión de Libros</h2>
    <ul>
        {% for libro in libros %}
            <li>
                {{ libro.titulo }} - {{ libro.autor }}
                <!-- Botón para editar -->
                <a href="{{ url_for('editar_libro', libro_id=libro.id) }}" class="btn-editar">Editar</a>
                <!-- Formulario para eliminar -->
                <form method="POST" action="{{ url_for('eliminar_libro', libro_id=libro.id) }}" style="display:inline;">
                    <button type="submit" class="btn-eliminar">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Volver al Inicio</a>
{% endblock %}