{% extends "base.html" %}

{% block content %}
    <h2>Gestión de Libros</h2>
    <ul class="list-group">
        {% for libro in libros %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ libro.titulo }} - {{ libro.autor }}</span>
                <div>
                    <!-- Botón para editar -->
                    <a href="{{ url_for('libros.editar_libro', libro_id=libro.id) }}" class="btn btn-primary btn-sm">Editar <i class="bi bi-pencil"></i></a>
                    <!-- Formulario para eliminar -->
                    <form method="POST" action="{{ url_for('libros.eliminar_libro', libro_id=libro.id) }}" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm btn-eliminar" data-titulo="{{ libro.titulo }}">Eliminar <i class="bi bi-trash"></i></button>
                    </form>
                    <a href="{{ url_for('prestamos.prestar',libro_id=libro.id, reserva_id=None) }}" class="btn btn-primary btn-sm ">Prestar Libro <i class="bi bi-gear-wide-connected"></i></a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('generales.index') }}" class="btn btn-warning  mt-3">Volver al Inicio <i class="bi bi-chevron-bar-up"></i></a>
    <a href="{{ url_for('libros.agregar_libro') }}" class="btn btn-primary mt-3">Agregar Libro <i class="bi bi-file-earmark-plus"></i></a>
    <a href="{{ url_for('libros.libros_por_autor') }}" class="btn btn-warning  mt-3">Autores <i class="bi bi-people"></i></i></a>
    <a href="{{ url_for('libros.libros_por_genero') }}" class="btn btn-warning  mt-3">Generos <i class="bi bi-people"></i></i></a>
    <a href="{{ url_for('libros.libros_por_titulo') }}" class="btn btn-warning  mt-3">Titulos <i class="bi bi-people"></i></i></a>
    <!-- Botón para importar datos -->
    <a href="{{ url_for('libros.importar_datos') }}" class="btn btn-primary mt-3">Importar Datos <i class="bi bi-file-earmark-arrow-up-fill"></i></a>

{% endblock %}