{% extends "base.html" %}

{% block content %}
    <h2>Iniciar Sesión</h2>

    <form id="login-form" method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}

        <!-- Campo Email -->
        <div class="form-group input-container">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Ingresa tu correo electrónico") }}
            {% if form.email.errors %}
                <small class="text-danger">{{ form.email.errors[0] }}</small>
            {% endif %}
        </div>

        <!-- Campo Contraseña -->
        <div class="form-group input-container">
            {{ form.contrasena.label(class="form-label") }}
            {{ form.contrasena(class="form-control", placeholder="Ingresa tu contraseña") }}
            {% if form.contrasena.errors %}
                <small class="text-danger">{{ form.contrasena.errors[0] }}</small>
            {% endif %}
        </div>

        <!-- Botón de Envío -->
        <div class="container py-3">
            <button type="submit" class="btn btn-primary">Iniciar Sesión <i class="bi bi-play-circle"></i></button>
            <a href="{{ url_for('auth.registro') }}" class="btn btn-link">Registrarse <i class="bi bi-person-plus"></i></a>
            <a href="{{ url_for('auth.recuperar_cuenta') }}" class="btn btn-link">¿Olvidaste tu contraseña? <i class="bi bi-person-fill-exclamation"></i></a>
        </div>
    </form>
{% endblock %}