{% extends "base.html" %}

{% block content %}
    <h2>Iniciar Sesión</h2>

    <!-- Mensajes Flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages" class="mt-4">
                {% for category, message in messages %}
                    <div class="flash-message alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form id="login-form" method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}

        <!-- Campo Email -->
        <div class="form-group input-container">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Ingresa tu correo electrónico") }}
            {% if form.email.errors %}
                <small class="text-danger">{{ form.email.errors[0] }}</small>
            {% endif %}
        </div>

        <!-- Campo Contraseña -->
        <div class="form-group input-container">
            {{ form.contrasena.label(class="form-label") }}
            {{ form.contrasena(class="form-control", placeholder="Ingresa tu contraseña") }}
            {% if form.contrasena.errors %}
                <small class="text-danger">{{ form.contrasena.errors[0] }}</small>
            {% endif %}
        </div>

        <!-- Botón de Envío -->
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <a href="{{ url_for('registro') }}" class="btn btn-link">Registrarse</a>
        <a href="{{ url_for('recuperar_cuenta') }}" class="btn btn-link">¿Olvidaste tu contraseña?</a>
    </form>
{% endblock %}