{% extends "base.html" %}

{% block content %}
    <h2>Recordatorios de Devolución Pendiente</h2>
    
    <!-- Lista de Recordatorios -->
    <ul class="list-group mt-3">
        {% for prestamo in prestamos_pendientes %}
            <li class="list-group-item">
                <strong>{{ prestamo.libro.titulo }}</strong> 
                (Préstamo desde {{ prestamo.fecha_prestamo.strftime('%d/%m/%Y') }})
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('generales.index') }}" class="btn btn-secondary mt-3">Volver al Inicio</a>
{% endblock %}